
body{
  margin: 0;
}

/* +++++++++++++++++
     Navbar
+++++++++++++++++ */

.navbar{
  position: fixed;
  width: 100%;
  padding: 0px 30px;
  background-color: white;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  }

  

 .nav-ul{
    display: flex;
    list-style: none;
  }
.nav-ul > li{
  margin-right: 30px;
  
}
.nav-ul > li :hover {
  color: orangered;
} 

li > a {
  text-decoration: none;
  color: #0c0c0b;

}

/* ++++++++++++++++++
  Sidebar-Icons
++++++++++++++++++ */

.icon-bar{
    z-index: 100000;
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.icon-bar a{
  
  padding: 10px 7px;
  color: white;
  font-size: 14px;
  opacity: 0.8;
  background: #3B5998;
}
.icon-bar .twitter{
  background: #55ACEE;
}
.icon-bar .intragram{
  background: #dd4b39;
}
.icon-bar .linkedin{
  background:#007bb5;
}
.header{
  background:rgba(0, 0, 0, 0.5) url("./assets/img/header.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-size: 100% 100%;
  padding: 115px 30px;
  color: white;
  background-blend-mode: darken;
}
.header-content > h2{
  font-size: 27px;
  /* color: rgb(187, 72, 6); */
}

.sub-heading{
  margin-bottom :50px;
  font-size: 20px;

}

input{
  width: 25%;
  border: none;
  border-radius: 3px;
  height: 22px;
  padding: 10px 10px;
  margin-bottom: 20px;
  font-size: 15px;
}
.btn{
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px 30px;
  line-height: 1.42857143;
  background-color: #73AC43;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  transition:background-color 1s, color 1s ;
}
.btn:hover{
  color: #060605;
  background-color: #fff;
}
.services {
  background: #73AC43;
  color: white;
  padding: 50px 30px ;
  display: flex;
  justify-content: space-around;
}

.services > h3{
  font-size: medium;
  margin-left: -75px;
}

/* Section one */

.sectionOne{
  padding:40px;
  display: flex;
  justify-content: space-between;
}
.sectionOne-img{  
  height: 400px;
  padding:40px 20px;
  max-width: 90%;
  height: 458px;
}
 .sectionOne>.info-section{
  max-width: 500px;

 }
 .info > h5{
  font-size: 24px;
 }
 .info > p{
  font-size: 18px;
 }
 /* Section two */
 .sectionTwo{
  background-image: url(./assets/img/SectionTwo.png);
  /* background-size: 100% 80%; */
  background-size: cover;
  background-color: aqua;
  position: relative;
  background-attachment: fixed;
  color: #fff;
}
.sectionTwo > .content{
   display: flex;
   /* display: inline-block; */
   justify-content:space-around;
   
}
.overlay{
  height: 8px;
  width: 108px;
  background-color:#FFC000;
}
.sectionTwo-info{
  margin-top: 40px;
  width: 500px;
}
.sectionTwo-info > h5 {
 
  line-height: 30px;
  font-size: 20px;
  margin: 30px 0;
}
.sectionTwo-info > p{
  font-size: 16px;
    line-height: 25px;
    margin: 0 0 30px;
    font-weight: 400;
}


/* Section - Three */

.SectionThree{
  display: flex;
  justify-content: space-around;
  padding: 80px 20px;
}
.SectionThree-info > h5{
  margin: 10px 0;
  font-weight: bold;
  font-size: 24px;
  width: 95%;
}
.SectionThree-info > p,ul{
 font-size: 19px;
 line-height: 25px;

}
.SectionThree-info > ul{
  color:#909090;
}
.SectionThree-img{
  width: 550px;
}
.SectionThree-list > li::marker{
 font-size: 2.6rem;
color: #5A9BD1;
}

/* Section Four */

.SectionFour {
  background-image: url(./assets/img/SectionFour-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px;
  display: flex;
}

.SectionFour-Info{
  color: #d4cad4;
  background-size: 100% 80%;
  margin-left: 110px;
  width: 600px;  
}
.SectionFour-Info > h5{
  font-size: 24px;
  margin-top: 0;
  padding-top: 10px;
  
}
.SectionFour-Info > p{
  font-size: 19px;
 line-height: 25px;
}
 
/* Section Five & section six & section seven*/

.SectionFive ,.SectionSix,.SectionSeven{
  display: flex;
  padding: 40px;
  justify-content: space-between;
}

 .SectionFive-info>h5 ,.SectionSix-info > h5,.SectionSeven-info > h5{
  font-size: 24px;
  margin-top: 40px;
}
.SectionFive-info > p, .SectionSix-info> p, .SectionSeven-info> p {
  font-size: 19px;
  line-height: 25px;

}
.SectionFive-img ,.SectionSix-img, .SectionSeven-img{
width: 510px;
max-height: 327px;
margin-left: 80px;
}

/*  SectionSix  */

.SectionSix{
  position: relative;
  background-attachment:fixed;
}

.SectionSix-info{
  margin-top: 30px;
}

.SectionSix-info > h5{
  margin-top: 0;
  padding-top: 20px;
}
.SectionSix-img{
  margin-right: 40px;
  margin-left: 0;
}

.SectionSix{
  background-image: url(./assets/img/SectionSix-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

}
.SectionSix-info > h5{
  margin-top: 20px;
}
/* SectionEight */

.SectionEight{
  background-image: url(./assets/img/SectionEight.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  width: 100%;
  height: 500px;
  color: #ffffff;
 
}

/* Text sliding or Text corousel */
.text-carousel {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  padding: 0 auto;
  padding-top: 280px;
}

.carousel-item {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: left 1s ease-in-out, opacity 0.5s ease-in-out;
}

.carousel-item.active {
  left: 50%;
  opacity: 1;
}
/* .slider{
  margin: 0px 150px;
} */
.slider > h2{
  text-align: center;
  color: #ffc000;
  /* margin-bottom: 30px; */
  margin-top: 20px;
  
}
.slider > p{
  text-align: center;
}
/* h2,
p {
  text-align: center;
} */


/* SectionLast */
.SectionLast {
  text-align: center;
  padding: 60px;

}
.SectionLast > h3{
  font-size: 28px;
  margin-top: 20px;

}
.SectionLast > p{
  /* color: #000; */
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 25px;
}
p > strong{
  font-size: 20px;
  line-height: 30px;

}
.SectionLast > .btn{
 padding: 15px 45px;
 
}
/* ++++++++++++++++++
  Pop up form  
++++++++++++++++++++ */
  
.Form{
  background: white;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
 width: 506px;
 height: 535px;
 
}
.Form > input{
  display: flex;
  width: 80%;
  padding: 5px 20px;
  margin: 5px 0 22px 10px;
  background: #f1f1f1;
  border-radius: 4px;
  height: 42px;
  padding: 5px 15px;
}
.Form > h1{
  font-size: 60px;
  font-weight: bold;
  margin: 15px 0px;
  color: #909090;
  margin: 5px 0 22px 10px;

}
.Form > select{
  max-width: 500px;
  padding: 10px;;
  background-color: white;
  color: #909090;
  margin: 5px 0 22px 10px;
  padding: 13px;

}
.Form > .butn{
  /* text-align: center; */
  display: inline-block;
 /* margin: 20px auto; */
 background-color: #04AA6D;
 color: white;
 padding: 18px 22px;
 border: none;
 cursor: pointer;
 width: 100%;
 margin-bottom: 10px;
 opacity: 0.7;
 /* text-align: center; */
 border-radius: 4px;
 font-size: 16px;
 font-weight:700 ;
 
}
.Form >.butn:hover{
  background-color: #04AA6D;
  opacity: 1.0;
}
.Form > .btn-cancel{
  background-color:red;
  opacity: 0.7;

}
.Form > .btn-cancel:hover{
  background-color:red;
  opacity: 1.0;
}
.submit{
  text-align: center;
  background: white;
  position: fixed;
  bottom: 320px;
  top: 250px;
  right: 320px;
  left: 320px;
  border: 3px solid #f1f1f1;
 /* width: 506px;
 height: 535px; */
}
.submit>h1{
  padding:0 20px;
}
 /* Footer */
.footer{
  background-color: #181413;
  padding: 25px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}
.footer > span{
  color: #ffffff;
  margin: 0 auto;
  /* text-align: center; */
}
span > .link{
  color: #73AC43;
  text-decoration:none;
}
span > .link:hover{
  color: #2380eb;
  /* text-decoration: underline; */
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .header-content {
    max-width: 500px;
    margin: 0 auto;
  }
  .header-content > input{
    max-width: 80%;
  }
}
 

@media (max-width: 767px) {
  /* Navbar */
  .navbar {
    flex-direction: column;
    padding: 0 15px;
  }
  
  .nav-ul {
    flex-direction: column;
    align-items: center;
  }
  
  .nav-ul > li {
    margin-right: 0;
    margin-bottom: 15px;
  }
  
  .services{
    flex-direction: column;
    /* width: 80%; */
    /* padding: 200px; */
    text-align: center;
}
   .services > h3{
   font-size: 26px;
   margin: 0 auto;
   }
   .services > img{
    /* font-size: 10px; */
   margin: 0 auto;

  }

  /* Section One */
  .sectionOne {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  
  .sectionOne-img {
    padding: 3px;
    max-width: 100%;
    height: auto;


  }
  
  .sectionOne > .info-section {
    max-width: 100%;
    text-align: center;
  }
  
  input {
    width: 100%;
  }
  
  /* Section Two */
  /* .sectionTwo{
    display: inline;
  }
   */
   .sectionTwo{
    background-size: cover;
    /* background-image: none; */
    min-width: 100%;
    
   }
.sectionTwo > .content{
  display: inline-block;
}
  .sectionTwo-info {
    width: 90%;
    text-align: center;
    margin-top: 0px;
    margin: -20px auto;
  }
  .sectionTwo-img {
   width: 90%;
  }
  /* Section Three */
  .SectionThree {
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
  }
  
  .SectionThree-info > h5 {
    width: 100%;
    text-align: center;
  }
  
  .SectionThree-img {
    width: 100%;
    margin: 20px 0;
  }
  
  .SectionThree-list {
    margin: 0;
    padding-left: 20px;
  }
  
  /* Section Four */
  .SectionFour {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .SectionFour-Info {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .SectionFour-img{
    width: 100%;
  }
  
  /* Section Five */
  .SectionFive,
  .SectionSix,
  .SectionSeven {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  
  .SectionFive-info > h5,
  .SectionSix-info > h5,
  .SectionSeven-info > h5 {
    margin-top: 30px;
    text-align: center;
  }
  
  .SectionFive-img,
  .SectionSix-img,
  .SectionSeven-img {
    width: 100%;
    max-height: 327px;
    margin-left: 0;
    margin-top: 20px;
  }
  
  
  /* Section Six */
  .SectionSix-info {
    margin-top: 20px;
  }
  /* Section eight */
.slider{
  width: 100%;
  margin: 0;
}
.slider > h2{
  font-size: 18px;
}
.slider > p{
 font-size: 11px;
 
}
  /* Section Last */
  .SectionLast > .btn {
    width: 100%;
    padding: 10px 25px;
  }
  
  /* Pop up form */
  .Form {
    width: 100%;
    right: 0;
  }
  
  /* Footer */
  .footer > span {
    display: block;
  }
}


/* 
@media screen and (min-width: 640px) {
 
  .navbar> .logo{
  margin: 20px auto;
  width:40%;
  height: 30%;
  }
  
 
  .header{
    width: 680px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .header-content {
    
    text-align: center;
    
    margin: 50px auto;
    width: 100%;
  }
 
  .header-content > form{
    width: 90%;
    margin: 0px auto;

  }
  .header-content > h2{
    width: 100%;
    margin: 0px auto;
    font-size: 49px;
  }
  .sub-heading > strong{
     width: 70%;
    margin: 40px auto;
    font-size: 29px;

  }
  .sub-heading {
    width: 70%;
   margin: 40px auto;
   font-size: 29px;

 }
   .Input{
    text-align: center;
    margin: 20px auto; 
    padding: 30px 50px;
    font-size: 30px; 
    width: 90%;
  }
  .header-form > .btn{
   width: 70%;
   padding: 25px 50px;
   font-size: 40px;  
   margin-top: 70px; 
 
  }

 

.icon-bar a{
  padding: 30px 20px;
  font-size: 24px;
}
 

  .services{
    flex-direction: column;
    width: 340px;
    padding: 200px;
    text-align: center;
}
.services > h3{
   font-size: 36px;
}


  .sectionOne{
    flex-direction: column;
    width: 100%;
    margin-left: 80px;
  }
  .sectionOne-img{  
    width: 150%;
  }
  .sectionOne>.info-section{
    width: 100%;
  
   }
   .info > h5{
    font-size: 40px;

   }
   .info > p{
    font-size: 28px;
   }

 
  .sectionTwo{
    
    background-size: cover;
    background-color: aqua;
    position: relative;
    background-attachment: fixed;
    background-position:100%;
    color: #fff;
  }
  .sectionTwo > .content{
    display: inline-block;
    width: 100%;
   }


 .SectionThree{
  flex-direction: column;
  margin-left: 70px;
  width: 100%;
 }
 
.SectionThree-info > h5{
 
  font-size: 34px;
  width: 100%;
}
.SectionThree-info > p,ul{
 font-size: 34px;
 line-height: 38px;
 width: 100%;
 
}

.SectionThree-img{
  width: 100%;
}

.SectionFour{
  flex-direction: column;
  min-width: 120%;
}
.SectionFour-img{
  width: 100%;
}
.SectionFour-Info{
  margin-left: 0px;
  padding-left: 10px;
  width: 100%; 
  margin-top: 20px; 
}
.SectionFour-Info > h5{
  font-size: 34px;
  margin-top: 10px;
  padding-top: 10px;
  
}
.SectionFour-Info > p{
  font-size: 29px;
 line-height: 35px;
}
 }  */
